.giocodeTablaTransparente, .giocodeTablaTransparente  td,
	.giocodeTablaTransparente tr {
	border: 0 !important;
	background: transparent !important;
}

.giocodeLetraPrincipal{
	font-size: 14px;
}

.giocodLetraDetalle{
	font-size: 12px;
}


.giocodePanelPeq {
	margin: 20px !important;
	padding: 20px !important;
	width: 400px !important;
	heigth: 300px !important;
}

.giocodeBotonBusca, .giocodeBotonNuevo, .giocodeBotonElimina {
	width: 24px !important;
	height: 24px !important;
}

.giocode {
	width: 98% !important;
}

.giocodeNumero {
	width: 98% !important;
	text-align: right !important;
}

.giocode1 {
	width: 100px !important;
}

.giocodeNumero1 {
	width: 100px !important;
	text-align: right !important;
}

.textoCentro {
	width: 100px !important;
	text-align: center !important;
}

.giocodeCodigo1 {
	width: 40px !important;
}

.giocodeDetalle1 {
	width: 82px !important;
}

.giocodeEtiqueta1 {
	width: 100px !important;
}

.giocode2 {
	width: 200px !important;
}

.giocodeNumero2 {
	width: 200px !important;
	text-align: right !important;
}

.giocodeDetalle2 {
	width: 182px !important;
}

.giocodeCodigo2 {
	width: 140px !important;
}

.giocodeEtiqueta2 {
	width: 200px !important;
}

.giocode3 {
	width: 300px !important;
}

.giocodeNumero3 {
	width: 300px !important;
	text-align: right !important;
}

.giocodeDetalle3 {
	width: 382px !important;
}